body {
  background-color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to right, #990000, #ffffff);
  border-bottom: 5px solid #990000;
}

.website-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.top-right-buttons {
  display: flex;
  gap: 10px;
}

.full-width {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #990000;
  color: white;
  border: none;
  border-radius: 5px;
}

.full-width:hover {
  background-color: #cc0000;
}

.search-bar {
  display: block;
  width: 80%;
  margin: 20px auto;
  padding: 12px;
  font-size: 18px;
  border: 2px solid #990000;
}

.game-list-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.game-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  width: 250px;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.game-image {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  margin-top: 10px;
}
