body {
    background-color: #f3f4f6;
}

.card {
    max-width: 800px;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
}

.text-primary {
    color: #007bff !important;
}

.text-danger {
    color: #dc3545 !important;
}

.navbar {
    margin-bottom: 20px;
}

img {
    max-width: 150px;
    border-radius: 10px;
}

form input {
    border-radius: 5px;
}